body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #9e9e9e;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  height: 800px;
  width: 400px;
  background: #eeeeee;
  border-radius: 1rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container header {
  color: #1b1b1b;
  background: #fafafa;
  font-size: 0.5rem;
  padding: 8px;
}

.container #meta {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.5em;
  color: #6d6d6d;
}

.container #album-art {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6rem;
  width: 100%;
}

.container #album-art img {
  height: 350px;
  width: 350px;
  -webkit-box-shadow: -6px -6px 6px 0 white, 6px 6px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: -6px -6px 6px 0 white, 6px 6px 6px 0 rgba(0, 0, 0, 0.2);
}

.action-container {
  width: 80%;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: 2rem;
}

.action-container .name h1 {
  margin: 0;
  font-size: 1rem;
  color: #1b1b1b;
  font-weight: 800;
}

.action-container .name h2 {
  font-weight: 400;
  color: #4d4d4d;
  margin: 0;
  font-size: 0.85rem;
}

.action-container .actions {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action-container .actions span:nth-child(2) {
  height: 64px;
  width: 64px;
}

.action-container .actions span {
  height: 48px;
  width: 48px;
  font-size: 1rem;
  font-weight: bold;
  color: #949494;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  padding: 4px;
  -webkit-box-shadow: -3px -3px 3px 0 rgba(255, 255, 255, 0.5), 3px 3px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: -3px -3px 3px 0 rgba(255, 255, 255, 0.5), 3px 3px 3px 0 rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=index.css.map */